
.og{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

  .container {
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #333333;
    background-color: #fff;
    width: 350px;
  }
  
  .header {
    font-size: 120px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 30px;
  }
  
  .error-message {
    font-size: 30px;
    color: #333333;
    margin-bottom: 30px;
  }
  

  .btn{
    cursor: pointer;
    background-color: #333333;
    border: 5px;
    padding: 10px 20px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    border-radius: 5px;
  }

  .btn:hover{
    background-color: #fff;
    color: #333333;
    box-shadow: 0 0 20px #333333;
  }