@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    background-image: url(https://cdn.pixabay.com/photo/2021/04/24/08/44/beach-6203544_960_720.jpg);
    background-size: cover;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
  }
  
  a{
    text-decoration: none;
    color: #fff;
 
  }
  .login-box {
    width: 400px;
    height: 430px;
    background-color:blur;
    padding: 30px;
    border-radius: 10px;
  }
  
  .login-title {
    text-align: center;
    font-size: 80px;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Satisfy', cursive;
    
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .username-group,
  .password-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .username-label,
  .password-label {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .username-input,
  .password-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #fff;
  }
  
  .submit-button {

    margin: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    font-size: 20px;
    background-color:transparent;
    color: #fff;
    border:2px solid white ;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .submit-button:hover {
    background-color: transparent;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    border-color: #fff;
    border:10px;
  }
  
  .submit-button:active {
    transform: translateY(3px);
    box-shadow: none;
  }
  .links{
    justify-content: space-between;
    display: flex;
    font-size: 20px;
  }

  .login-form input {
    background-color: transparent;
    color: #fff;
    border: 3px;
    outline: none;
    border-bottom: 2px solid #fff;
    
  }

  .login-form ::-webkit-input-placeholder{
    color: #fff;
  }

  .lbls{
    display: flex;
    flex-direction: column;
    align-items: center;
  }