@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


html{
  background-color: rgb(48,49,52);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color:transparent;
    color: #fff;
    padding: 0 20px;
  }

.navbar button {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
    cursor:pointer;
    border: none;
    border-radius: 5px;
  }
  .links button{
    padding: 15px 20px;
    background-color: transparent;
    font-weight: 1100;
    font-size: 20px;
  }

  .links button:hover {
    background-color: transparent;
    color : rgb(254,198,53);
  }


.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

.lg button{
    padding: 5px 24px;
    background-color: black;

}
