
a{
    text-decoration: none;
    color: rgb(32,33,36);
  }
  
.register-container {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .register-box {
    height: 500px;
    width: 500px;
    padding: 30px;
    background-color: rgb(32,33,36);
    border-radius: 10px;
  }
  
  .register-title {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    margin-bottom: 0px;
  }
  
  .register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding: 30px;
  }
  
  .username-group,
  .email-group,
  .password-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }
  
  .username-label,
  .email-label,
  .password-label {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10px;
  }
  
  .username-input,
  .email-input,
  .password-input {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    border-bottom: 2px solid gray;
    color: white;
    outline: none;
  }
  
  .submit-button {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(32,33,36);
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .submit-button:hover {
    box-shadow: 0 0 10px gray;
  }
  

  .links{
    justify-content: space-between;
    display:flex;
    font-size: 20px;
    color: white;

  }